{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium OSLO-CultureelErfgoed definieert termen die van toepassing zijn bij het beschrijven van gegevens in verband met Cultureel Erfgoed.</p>

<p>De meeste termen werden gemapt op twee bestaande standaarden: <a href="http://www.cidoc-crm.org/">CIDOC-CRM</a> en <a href="http://www.cidoc-crm.org/frbroo/">FRBRoo</a>.</p>
<p>CIDOC-CRM richt zich in hoofdzaak op het beschrijven van materi&euml;le en immateri&euml;le erfgoed objecten en de activiteiten waarbij deze worden gecre&euml;erd/geproduceerd en beheerd.</p>
<p>FRBRoo voegt daar een bibliografisch aspect aan toe: exemplaren van eenzelfde tekst worden beschouwd als dragers van hetzelfde werk en deze aanpak is ook nuttig voor andere media:
bv uitvoeringen van eenzelfde muziekstuk of de uitdrukking van hetzelfde werk in meerdere talen of dmv een verschillend medium.</p>

<p>Daarnaast definieert dit vocabularium enkele eigen termen. Deze zijn te vinden onder Klassen en Eigenschappen, terwijl de gemapte termen opgelijst staan onder Externe Terminologie.</p>
{% endblock %}

