{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel OSLO-CultureelErfgoed-object legt uit hoe Cultureel Erfgoed terminologie gebruikt moet worden om gegevens uit te wisselen over Cultureel Erfgoed objecten.</p>
<p>Onder Erfgoed verstaan we zowel materieel (roerend en onroerend) als immaterieel erfgoed. Het kan dus gaan over museumcollecties, materi&euml;le voorwerpen zoals schilderijen, boeken, gebouwen, monumenten, landschappen; de immateri&euml;le aspecten van deze objecten zoals de tekst, het beeld, het bestand maar ook het idee dat daarmee wordt uitgedrukt; immaterieel erfgoed zoals tradities, gebruiken, ambachten.</p>
<p>Gebeurtenissen of Activiteiten die in het kader van Erfgoed plaatsvinden behandelen we in een ander applicatieprofiel, namelijk in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-event">OSLO-CultureelErfgoed-event</a>. Het gaat dan over Voorstellingen of over de Creatie/Productie van erfgoed objecten of over het beheer ervan (Verwerving, Bewaring, Verhuis, Meting, Classificatie etc). In het applicatieprofiel OSLO-CultureelErfgoed-object kijken we hoogstens naar events vanuit het standpunt van een erfgoed object.</p>
<p>De applicatieprofielen OSLO-CultureelErfgoed-object en OSLO-CultureelErfgoed-event zijn profielen op twee bestaande standaarden: <a href="http://www.cidoc-crm.org/">CIDOC-CRM</a> en <a href="http://www.cidoc-crm.org/frbroo/">FRBRoo</a>. Concreet betekent dit dat we uit die standaarden het gedeelte hebben gelicht dat relevant was voor onze use case.</p>
<p>CIDOC-CRM richt zich in hoofdzaak op het beschrijven van materi&euml;le en immateri&euml;le erfgoed objecten en de activiteiten waarbij deze worden gecre&euml;erd/geproduceerd en beheerd. FRBRoo voegt daar een bibliografisch aspect aan toe: exemplaren van eenzelfde tekst worden beschouwd als dragers van hetzelfde werk en deze aanpak is ook nuttig voor andere media: bv uitvoeringen van eenzelfde muziekstuk of de uitdrukking van hetzelfde werk in meerdere talen of dmv een verschillend medium.</p>
<p>Centraal in het applicatieprofiel OSLO-CultureelErfgoed-object staan de GecureerdeCollectie en de MensgemaakteObjecten die daar deel van uitmaken. Cultuur is per definitie iets mensgemaakt en doorgaans wordt wat beschouwd wordt als erfgoed zorgvuldig beheerd en bewaard (gecureerd). We namen ook MensgemaakteKenmerken op in het profiel om onderscheid te maken tussen min of meer losse objecten (bv een schilderij of een boek) en objecten die ge&iuml;ntegreerd zijn in hun omgeving (bv een grotschildering of een kanaal).</p>
<p>In het applicatieprofiel OSLO-CultureelErfgoed-object is er ook plaats voor immateri&euml;le objecten zoals teksten, afbeeldingen, schema&rsquo;s en opnames (resp Taalobjecten, VisueleItems, OntwerpenOfProcedures en Documenten). Dit laat toe bv een tekst te beschrijven los van zijn drager of bv een computerbestand los van het opslagmedium.</p>
<p>Het is &eacute;&eacute;n ding om de tekst van een boek aan een boekexemplaar in een bibliotheek te kunnen koppelen. Beter nog is om het verband tussen een tekst en zijn vertaling te kunnen documenteren. Of om te kunnen refereren naar de individuele songs op een album. Om die reden werden de klassen Werk en Expressie aan het model toegevoegd. Een Werk kan dan afgeleid zijn van een ander werk (cfr de vertaling van het boek) of kan Expressies van andere Werken omvatten (cfr de songs op het album).</p>
<p>Werk en Expressie werden verder gespecialiseerd. Naast een gewoon op zichzelf staand werk (IndividueelWerk), zijn er &ldquo;containers&rdquo; met expressies van andere werken: Aggregatiewerk voor bv verzamelwerken, Publicatiewerk voor bv een publicatie met tekst en foto&rsquo;s en Voorstellingswerk voor bv theater of dans dat tekst en beweging en muziek etc aan een publiek toont. Verder zijn er de categorie&euml;n Opnamewerk (voor registraties dmv al dan niet bewegend beeld en geluid) en SerieelWerk (een periodiek uitgegeven Publicatiewerk). De ultieme integrator is ComplexWerk voor werken die uit andere Werken bestaan (bv Het Verdriet van Belgi&euml; in het Nederlands en zijn vertaling in het Frans).</p>
<p>Op de objecten beschreven in het applicatieprofiel OSLO-CultureelErfgoed-object kunnen bepaalde rechten van toepassing zijn, bv eigendom of auteursrecht. De klasse Recht beschrijft over welk soort rechten het gaat. En uiteraard is het mogelijk om de rechtenhouders te specifi&euml;ren. Voor eigendom is daar een shortcut voor: de associatie &ldquo;eigenaar&rdquo; tussen een object en een Agent (Persoon of Organisatie).</p>
<p>Op zaken die een concrete vorm aannemen kan een recht toegepast worden maar niet op een idee. Dat betekent dat op instanties van Werk (definitie: &ldquo;idee of combinatie van idee&euml;n achter een artistieke of intellectuele Expressie&rdquo;) geen rechten gelden maar wel op de tekst, het beeld of het geluid waarin het idee is uitgedrukt. Ook materi&euml;le dingen zoals schilderijen of monumenten kunnen aan een recht onderworpen zijn.</p>
<p>Het is mogelijk om te specifi&euml;ren wat de Rechtsgrond is waarop een bepaald recht is gebaseerd.</p>
<p>Klassen in het applicatieprofiel OSLO-CultureelErfgoed-object zijn specialisaties van de abstracte klasse Entiteit en erven daarvan kenmerken over zoals identificator, beschrijving of type. Ook associaties tussen entiteiten kunnen op die manier beschreven worden bv om aan te geven welke gebeurtenis op een schilderij wordt afbeeld of om duidelijk te maken van welk kunstwerk een foto werd genomen.</p>
<p>Elke klasse heeft attributen die instanties ervan verder beschrijven, bv de Locatie van een MensgemaaktObject. Sommige daarvan zijn het resultaat van events die op het object plaatsvonden, bv de locatie van een schilderij nadat het is aangekocht door een museum. Het is mogelijk naar deze events te verwijzen, een grondiger beschrijving (bv wie heeft dit schilderij gemaakt en wanneer) wordt gegeven in het applicatieprofiel OSLO-CultureelErfgoed-event.</p>
{% endblock %}


