{% extends "impl.j2" %}

{% block summary %}
<p><b>Context en doel</b></p>
<p>De OSLO cultureel erfgoed iteratie is opgestart om verschillende redenen. Ten eerste werd van enkele standaarden die hergebruikt worden in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object/">OSLO Cultureel Erfgoed Object</a> en <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-event/">OSLO Cultureel Erfgoed Event</a>, zoals CIDOC-CRM en FRBRoo, een nieuwe versie ontwikkeld.
    Het OSLO model moest daarom opnieuw afgestemd worden op de meest recente versie van deze standaarden. Ten tweede werd de specificiteit van sommige domeinen van de cultureel erfgoedsector, zoals archieven en immaterieel cultureel erfgoed, onvoldoende
    afgedekt door de bestaande applicatieprofielen. Daarnaast was het OSLO model voor veel cultureel erfgoedinstellingen te uitgebreid en moeilijk te interpreteren, waardoor de bruikbaarheid ervan niet optimaal was. </p>
<p>Het doel van dit iteratietraject was dan ook om een implementatiemodel te ontwikkelen op basis van de bestaande applicatieprofielen, waarin de scope strikt beperkt wordt tot de basisdata die relevant zijn voor uitwisseling binnen (en met) de cultureel
    erfgoedsector. Het is niet haalbaar, noch nuttig om de volledige complexiteit van alle domeinen in de cultureel erfgoedsector met één OSLO model af te dekken. Rekening houdende met de updates die gebeurd zijn aan herbruikte standaarden, werd het implementatiemodel
    gebaseerd op en/of getoetst aan de volgende standaarden en versies: <a href="https://cidoc-crm.org//html/cidoc_crm_v7.1.3.html">CIDOC-CRM</a>, <a href="https://cidoc-crm.org//extensions/lrmoo/html/LRMoo_v1.0.html">LRMoo</a>, en <a href="https://linked.art/model/ v0.9.5">Linked Art</a>.
</p>
<p>Naast een scope wijziging en update van herbruikte standaarden, werd het implementatiemodel getoetst aan de praktijk door concrete datavoorbeelden uit te werken voor alle subdomeinen van de cultureel erfgoedsector. Ook werd er nagegaan dat het implementatiemodel
    niet conflicteert met bestaande implementaties van de applicatieprofielen. Tot slot werd er binnen dit iteratietraject extra ingezet op documentatie waardoor de cultureel erfgoedsector makkelijker aan de slag kan gaan met dit implementatiemodel en data-uitwisseling
    binnen en met de cultureel erfgoedsector beter gefaciliteerd wordt.</p>
<p><b>Cultureel erfgoed</b></p>
<p>Onder cultureel erfgoed verstaan we materieel erfgoed, zoals museale objecten en onroerend erfgoed; immaterieel erfgoed, zoals publicaties, immaterieel erfgoed praktijken, alsook immateriële aspecten van materieel erfgoed, zoals de tekst, het beeld, het
    bestand of het idee dat ermee wordt uitgedrukt. Daarnaast kunnen ook verzamelingen van materieel of immaterieel erfgoed, zoals archieven, en Activiteiten, zoals tentoonstellingen of voorstellingen, cultureel erfgoed zijn.</p>
<p>Om deze zes verschillende vormen van cultureel erfgoed te modelleren, werd een aantal concepten uit CIDOC-CRM en LinkedArt hergebruikt: Entiteit, Conceptueel Object, Materieel Ding, InformatieObject, MensgemaaktObject en Set. Hieronder wordt
    kort toegelicht hoe deze klassen gebruikt kunnen worden voor verschillende subdomeinen van de cultureel erfgoedsector:</p>
    <ul>
<p><li>Publicatie: Een uitgave of publicatie is een voorbeeld van een InformatieObject. Kenmerken van een publicatie zijn een auteur, ISBN nummer, aantal pagina’s (dimensie) enzovoort. Wanneer men data wil uitwisselen over een fysiek exemplaar van de publicatie,
    moet de link gemaakt worden met een MensgemaaktObject dat de drager is van het InformatieObject. Voor een meer gedetailleerde typering van informatie over publicaties, moet gekeken worden naar LRMoo. De publicatie wordt dan voorgesteld als een Informatieobject
    van het type Manifestatie, een exemplaar is een MensgemaaktObject van het type Item. Het implementatiemodel is zodanig opgesteld dat de complexiteit van LRMoo makkelijk herleidt of gemapt kan worden  worden tot data conform aan dit generieke implementatiemodel.</p>
<p><li>Archief: Archieven zijn groeperingen van materieel en/of immaterieel erfgoed. Vaak maken ze deel uit van een hiërarchie. Het laagste niveau waarover data bijgehouden en/of uitgewisseld wordt, moet voorgesteld worden m.b.v. InformatieObjecten of Mensgemaakte
    Objecten. Elke groepering daarvan in een archief of archiefcollectie wordt beschreven met de klasse Set. Mapping op meer gespecialiseerde modellen zoals <a href="https://www.ica.org/standards/RiC/RiC-O_1-0-2.html">Records in Context</a> is mogelijk, waarbij RecordSet bijvoorbeeld overeenstemt met Set, Record en
    RecordPart met Informatieobject en Instantiation met MensgemaaktObject. Het implementatiemodel is opgesteld zodat de complexiteit van RiC makkelijk gemapt of herleid kan worden tot data conform aan dit generieke implementatiemodel.</p>
<p><li>Museaal object: Een museaal object, zoals een schilderij, beeldhouwwerk of ander voorwerp met bepaalde erfgoedwaarde, is een voorbeeld van een MensgemaaktObject. Een MensgemaaktObject kan uit verschillende delen bestaan die op zich ook MensgemaakteObjecten
    zijn, zoals een servies bestaande uit een aantal kopjes en borden of een geschilderd veelluik.</p>
<p><li>Tentoonstelling: Tentoonstellingen kunnen beschouwd worden als Activiteiten. Aangezien Activiteiten een subklasse zijn van Gebeurtenissen, kunnen tentoonstellingen getypeerd worden aan de hand van een tijd, plaats, identificator en beschrijving. De Persoon
    of Organisatie die de tentoonstelling organiseert kan beschreven worden met het attribuut “uitgevoerd door”. Via het attribuut “gebruiktObject” van Activiteit kan de link gemaakt worden met MensgemaakteObjecten die deel uitmaken van of gebruikt worden
    bij de tentoonstelling. Voor een uitgebreidere uitwerking van een culturele participatie van een Activiteit wordt er best gekeken naar <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultuurparticipatie">OSLO Cultuurparticipatie</a>.</p>
<p><li>Onroerend erfgoed: Een onroerend erfgoed, zoals een gebouw, tuin, domein, en onderdelen of combinaties daarvan, is eveneens een MensgemaaktObject. Een verzameling van onroerend erfgoed dat als geheel beschouwd wordt door een Agent, wordt beschreven als
    Set, maar ook als MensgemaaktObject als het zich materieel manifesteert bijvoorbeeld doordat het geografisch is afgebakend.</p>
<p><li>Immaterieel erfgoed praktijk: Een immaterieel erfgoed praktijk kan beschreven worden als Conceptueel Object. Aan dit Conceptueel Object kan een thema toegekend worden met behulp van het overgeërfde attribuut “type”. Het Conceptueel Object kan gelinkt
    worden aan MensgemaakteObjecten die gebruikt worden bij de immaterieel erfgoed praktijk of activiteiten die daarbij worden uitgevoerd. Voor verdere specialisatie moet ook hier naar LRMoo worden gekeken, waarbij de erfgoedpraktijken verder kunnen
    worden gespecialiseerd als Work of Expression en activiteiten zoals bijvoorbeeld processies als Performance.</p></ul>
<p><b>Cultureel Erfgoed Events</b></p>
<p>Ook enkele Gebeurtenissen of Activiteiten die in het kader van Erfgoed plaatsvinden, hebben een plaats in dit implementatiemodel. Het gaat dan over de Creatie/Productie van erfgoedobjecten of over het beheer ervan (Verwerving, Bewaring, Classificatie).</p>
<p><b>Tijd en ruimte</b></p>
<p>In het implementatiemodel werd ook extra aandacht besteed aan de modelleringsopties voor plaats en tijd. Voor het modelleren van tijd werd is bovenal flexibiliteit nodig. Voor sommige cultureel erfgoed objecten kan bijvoorbeeld niet nauwkeurig worden
    aangegeven wanneer ze gecreëerd werden. Het model voorziet voor die gevallen een tijdsindicatie in EDTF, die toelaat om onzekerheid daarover aan te duiden wanneer een datum of periode slechts een schatting is.</p>
<p><b>Rechten</b></p>
<p>Op de objecten beschreven in dit implementatiemodel kunnen bepaalde rechten van toepassing zijn, bvb. eigendom of auteursrecht, een beschermd statuut of de stempel van ‘topstuk’. De klasse Recht beschrijft over welk soort rechten
    het gaat. En uiteraard is het mogelijk om de rechtenhouders te specifiëren. Voor eigendom is daar een shortcut voor: de associatie “eigenaar” tussen een object en een Agent (Persoon of Organisatie). Een echte diepgaande uitwerking van deze rechten zelf is out of scope voor dit implementatiemodel.</p>
{% endblock %}


