{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel OSLO-CultureelErfgoed-event, een profiel op het vocabularium <a href="https://data.vlaanderen.be/ns/cultureel-erfgoed">OSLO-CultureelErfgoed</a>, legt uit hoe Cultureel Erfgoed terminologie gebruikt moet worden om gegevens uit te wisselen over Cultureel Erfgoed gebeurtenissen.</p>
<p>Gezien het belang van erfgoed objecten zoals schilderijen, monumenten, teksten, beelden etc zijn ook gegevens over de activiteiten die er betrekking op hebben relevant bv waar en wanneer en door wie de objecten gecre&euml;erd of geproduceerd zijn. Of door wie en wanneer ze werden aangekocht of in bewaring werden genomen, in welke toestand ze nu zijn of ooit waren en hoe en door wie deze conditie werd bepaald. Tenslotte kunnen gebeurtenissen ook zelf Erfgoed zijn zoals carnaval of een ommegang.</p>
<p>De objecten waarop deze activiteiten betrekking hebben worden behandeld in een ander applicatieprofiel, namelijk in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object">OSLO-CultureelErfgoed-object</a>. Het gaat daar over zaken als MensgemaakteObjecten of -Kenmerken, over GecureerdeCollecties, over Informatieobjecten zoals Documenten, VisueleItems, Taalobjecten of over Expressies van Werken zoals Opnames of Publicaties. In het applicatieprofiel OSLO-CultureelErfgoed-event kijken we naar deze objecten vanuit het standpunt van een Erfgoed gebeurtenis.</p>
<p>Nagenoeg alle klassen in het applicatieprofiel OSLO-CultureelErfgoed-event zijn subklassen van Activiteit. Een Activiteit is een subklasse van een Gebeurtenis, een Gebeurtenis is iets dat plaatsvindt op een bepaald moment en op een bepaalde plaats en dat daarbij een effect teweeg brengt: bv een geboorte, een meeting, een oorlog. Is dat effect bewust door een mens veroorzaakt dan spreken we van een Activiteit.</p>
<p>Creatie en Productie (resp het maken van een immaterieel object zoals een tekst of een document en het vervaardigen van een materieel object zoals een schilderij of een sculptuur) zijn belangrijke activiteiten omdat ze toelaten om te beschrijven door wie, wanneer en waar een erfgoed object is gemaakt.</p>
<p>De mogelijkheid bestaat om deze activiteiten te subtyperen, bv Creatie als een Conceptie-event wanneer de activiteit het bedenken van een Werk betreft of als een Publicatie-event wanneer het werk bestaat uit expressies van andere werken (bv teksten en foto&rsquo;s) en verspreid wordt onder een groot publiek (bv in boekvorm of op het web).</p>
<p>Expressie-events zoals een Publicatie of een Opnamesessie brengen steeds iets materieels voort (bv een gedrukt boek of een downloadbare muziekstream), maw het is zowel een Creatie- als een Productie-event.</p>
<p>Een Productie-event is een subtype van Wijziging, bv het produceren van een schilderij komt neer op het wijzigen van bestaand materiaal (namelijk het aanbrengen van verf op canvas). Maar de mogelijkheden van Wijziging zijn ruimer, bv de subklasse ToevoegingDeel laat toe om de gebeurtenis te beschrijven waarbij een object werd toegevoegd aan een collectie.</p>
<p>Andere subklassen van Activiteit hebben betrekking op het beheer van materi&euml;le erfgoed objecten. Zo zijn er de klassen Verwerving en Bewaring om de activiteit te beschrijven waarbij resp de eigendom en het beheer van een object wordt overgedragen, bv bij aankoop van een kunstwerk door een museum. Doorgaans verandert daarbij ook de locatie van het aangekocht object en om dat te beschrijven gebruiken we het Verhuis-event. Het idee om de collectie uit te breiden met een aankoop is dan weer te klasseren als een Curatie-event.</p>
<p>Een belangrijke klasse is Toekenning. Subklassen daarvan zijn Meting, Classificatie en Conditiebeoordeling. Deze zijn resp bedoeld om de activiteit te beschrijven waarbij een erfgoed object wordt opgemeten (in de ruime zin, bv hoogte en breedte maar ook geldwaarde), geklasseerd wordt (bv volgens stijl of periode) of waarbij de staat van het object wordt vastgesteld. Het resultaat van deze activiteiten kan bij het object worden opgeslagen (zie attributen als dimensie, type en staat) maar de meerwaarde van de overeenkomstige events zit hem in metadata zoals het moment, de plaats en de uitvoerder van de activiteit en ook in de historiek (bv als uit twee opeenvolgende conditiebeoordelingen blijkt dat de staat van het object is verslecht).</p>
<p>Naar de events kan ook gekeken worden vanuit het standpunt van een Agent, bv bij welke Creatie-events hij betrokken was (en dus welke erfgoed objecten hij heeft gecre&euml;erd). Of bij welke aankooptransacties hij welke objecten heeft verworven.</p>
<p>Klassen in het applicatieprofiel OSLO-CultureelErfgoed-event zijn specialisaties van de abstracte klasse Entiteit en erven daarvan kenmerken zoals identificator, beschrijving of type over.</p>
<p>Elke klasse heeft uiteraard attributen die de instanties ervan verder beschrijven, bv de Locatie waarnaar een erfgoed object is verhuisd of het type dat aan een object is toegekend bij een Classificatie-event. Hoe de objecten zelf uitgebreider kunnen worden beschreven wordt toegelicht in het applicatieprofiel OSLO-CultureelErfgoed-object.</p>
{% endblock %}


